# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

#Python Venv
venv/

commandlinetools-linux-9477386_latest.zip

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

ios/
android/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
.aider.chat.history.md
.aider.input.history.md
.aider.tags.cache.v3/
.aider.tags.cache.v4/
.env
